<!DOCTYPE html>
<html lang="es">
<body>
	<%- include('partials/header', {title: product.titulo}) %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= product.titulo %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/<%= product.imagen %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.descripcion %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.titulo %></h2>
						
							<p class="product-detail-price small">
								<span>$<%= product.precio && toThousand(product.precio) %></span>
								/
								<b><%= product.descuento %>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= product.precio && toThousand((product.precio - product.precio*product.descuento/100)) %>
							</p>
							<p class="product-detail-price">
								Antes $  <%= product.precio && toThousand(product.precio) %>
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" id="comprarahora" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<!-- <a href="/products/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form> -->
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

	<script>
		document
		  .getElementById("comprarahora")
		  .addEventListener("click", function (e) {
			e.preventDefault();
			alert("falta implementar comprar ahora");		  
		  });
	  </script>

</body>	

</html>