<%- include ("partials/header") %>

    <main class="layout-main">  
        <section>
            <h2 class="products-title">Productos</h2>                    
            <div class="layout-contenedor">
                <% productos.forEach( p => { %>
                <%- include ("partials/product", {p : p, toThousand: toThousand}) %>
                <% }) %>
            </div>
        </section>
        
        <section>
            <h2 class="products-title">Ofertas</h2> 
            <div class="layout-contenedor">             
                 <% productos.forEach( p => { %>
                <%- include ("partials/product", {p : p, toThousand: toThousand}) %>    
                <% }) %> 
            </div>       
        </section> 

        <section>
            <h2 class="products-title">Productos</h2>                    
            <div class="layout-contenedor">
                <% productos.forEach( p => { %>
                <%- include ("partials/product", {p : p, toThousand: toThousand}) %>
                <% }) %>
            </div>
        </section>
        
     

    </main>
    <script type="application/javascript">
        function showMsg(item) {
        alert(item);
    }
    </script>
    
    <%- include ("partials/footer") %>